{{ define "main" }}
  <main class="container my-5">
    {{ range .Paginator.Pages }}
      <article class="card fade-in">
        <header class="card-body">
          <h2 class="card-title"><a href="{{ .Permalink }}" aria-label="Leia mais sobre {{ .LinkTitle }}">{{ .LinkTitle }}</a></h2>
          <p>Postado em <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 2, 2006" }}</time></p>
        </header>
        {{ with .Params.thumbnail }}
          <img src="{{ . }}" alt="{{ .Title }}" class="card-img-top">
        {{ end }}
        <section class="card-text">{{ .Description }}</section>
        <footer class="card-footer text-muted">
          <a href="{{ .Permalink }}" class="btn btn-primary" role="button">Leia mais</a>
        </footer>
      </article>
    {{ end }}
    {{ template "_internal/pagination.html" . }}
  </main>
{{ end }}
