{{ define "main" }}
  <section class="container my-5">
    <h1 class="display-4">{{ .Title }}</h1>

    {{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
    {{ $dateHuman := .Date | time.Format ":date_long" }}
    <time datetime="{{ $dateMachine }}" class="text-muted">{{ $dateHuman }}</time>

    {{ .Content }}
    <div class="mt-4">
      {{ if and (.Site.Config.Services.Disqus.Shortname) (.Param "comments") (not .Site.IsServer) }}
      <section class="comments block">
        {{ template "_internal/disqus.html" . }}
      </section>
      {{ end }}

      {{ if (.Params.mermaid) }}
    		{{ partial "mermaid.html" }}
    	{{ end }}

      {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
    </div>
  </section>
{{ end }}
