<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="{{ "/" | relURL }}" aria-label="Home">{{ site.Title }}</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto" role="navigation" aria-label="Main">
        <li class="nav-item">
          <a class="nav-link" href="{{ "/" | relURL }}" aria-label="Home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "posts" | relURL }}" aria-label="Posts">Posts</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "about" | relURL }}" aria-label="About Me">About Me</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ "index.xml" | relURL }}" aria-label="RSS">RSS</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
